.drop-down {
  position: relative;
  z-index: 1;

  &__label {
    border: 1px solid black;
    border-radius: 4px;
    margin: 4px;
    cursor: pointer;
    line-height: 24px;
  }

  &__options {
    top: 25px;
    width: auto;
    position: absolute;
    border: 1px solid black;
    border-radius: 4px;
    margin: 4px;
    width: calc(100% - 10px);;
    background-color: #fff;
    z-index: 0;
    overflow-y: auto;
    cursor: pointer;
    &-option:hover {
      background-color: rgba(21, 96, 167, 0.425);
    }
  }
}